.bg-red{ background-color: #f44336 !important; }
.bg-pink{ background-color: #e91e63 !important; }
.bg-purple{ background-color: #9c27b0 !important; }
.bg-deep-purple{ background-color: #673ab7 !important; }
.bg-indigo{ background-color: #3f51b5 !important; }
.bg-blue{ background-color: #2196f3 !important; }
.bg-light-blue{ background-color: #03a9f4 !important; }
.bg-cyan{ background-color: #00bcd4 !important; }
.bg-teal{ background-color: #009688 !important; }
.bg-deep-green{ background-color: #5b8b32!important; }
.bg-green{ background-color: #4caf50 !important; }
.bg-light-green{ background-color: #8bc34a !important; }
.bg-lime{ background-color: #cddc39 !important; }
.bg-yellow{ background-color: #ffeb3b !important; }
.bg-amber{ background-color: #ffc107 !important; }
.bg-orange{ background-color: #ff9800 !important; }
.bg-deep-orange{ background-color: #B26A00 !important; }
.bg-brown{ background-color: #795548 !important; }
.bg-blue-grey{ background-color: #607d8b !important; }
.bg-grey{ background-color: #909090 !important; }
.bg-black{ background-color: #000000 !important; }
.bg-white{ background-color: #ffffff !important; }
.bg-dark{ background-color: #191919 !important; }
.bg-transparent{ background-color: transparent !important; }

.bg-success{ background-color: #4caf50!important; }
.bg-info{ background-color: #17a2b8!important; }
.bg-warning{ background-color: #ffbb33!important; }
.bg-danger{ background-color: #992921!important; }

.txt-red{ color: #f44336 !important; }
.txt-pink{ color: #e91e63 !important; }
.txt-purple{ color: #9c27b0 !important; }
.txt-deep-purple{ color: #673ab7 !important; }
.txt-indigo{ color: #3f51b5 !important; }
.txt-blue{ color: #2196f3 !important; }
.txt-light-blue{ color: #03a9f4 !important; }
.txt-cyan{ color: #00bcd4 !important; }
.txt-teal{ color: #009688 !important; }
.txt-green{ color: #4caf50 !important; }
.txt-light-green{ color: #8bc34a !important; }
.txt-lime{ color: #cddc39 !important; }
.txt-yellow{ color: #ffeb3b !important; }
.txt-amber{ color: #ffc107 !important; }
.txt-orange{ color: #ff9800 !important; }
.txt-deep-orange{ color: #B26A00 !important; }
.txt-brown{ color: #795548 !important; }
.txt-blue-grey{ color: #607d8b !important; }
.txt-grey{ color: #909090 !important; }
.txt-black{ color: #000000 !important; }
.txt-white{ color: #ffffff !important; }
.txt-dark{ color: #191919 !important; }
.txt-transparent { color: transparent!important; }

.txt-success{ color: #4caf50!important; }
.txt-info{ color: #17a2b8!important; }
.txt-warning{ color: #ffbb33!important; }
.txt-danger{ color: #992921!important; }

.txt-center{ text-align: center!important; }
.txt-right{ text-align: right!important; }
.txt-left{ text-align: left!important; }

.txt-bold{font-weight:bold!important;}
.txt-light{font-weight:200!important;}
.txt-italic{font-style:italic!important;}

.txt-s11{font-size: 11px!important;}
.txt-s15{font-size: 15px!important;}
.txt-s20{font-size: 20px!important;}
.txt-s25{font-size: 25px!important;}
.txt-s30{font-size: 30px!important;}

.txt-underl{ text-decoration: underline!important;}
.undecorated { text-decoration: none!important; }


/* ▼ Esto solo funciona en Chrome ▼ */
.scroll{overflow-y: auto!important;}
.scroll::-webkit-scrollbar-thumb{ background-color: #555; background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent); }
.scroll::-webkit-scrollbar-thumb{ box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);  }
.scroll:hover::-webkit-scrollbar-thumb{ box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);  }
.scroll::-webkit-scrollbar{ width: 10px!important; background-color: transparent!important;}
.scroll::-webkit-scrollbar-track{ box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5)!important; }
.scroll-t::-webkit-scrollbar-track{	background-color: transparent!important; }
.scroll-5::-webkit-scrollbar{ width: 5px!important; }
.scroll-10::-webkit-scrollbar{ width: 10px!important; }
.scroll-15::-webkit-scrollbar{ width: 15px!important; }
.scroll-20::-webkit-scrollbar{ width: 20px!important; }
.scroll-25::-webkit-scrollbar{ width: 25px!important; }
.scroll-30::-webkit-scrollbar{ width: 30px!important; }
.scroll-35::-webkit-scrollbar{ width: 35px!important; }
.scroll-40::-webkit-scrollbar{ width: 40px!important; }
.scroll-45::-webkit-scrollbar{ width: 45px!important; }
.scroll-50::-webkit-scrollbar{ width: 50px!important; }
.scroll-red::-webkit-scrollbar-thumb, .scroll-red::-webkit-scrollbar-track{ background-color: #f44336; }
.scroll-pink::-webkit-scrollbar-thumb, .scroll-pink::-webkit-scrollbar-track{ background-color: #e91e63; }
.scroll-purple::-webkit-scrollbar-thumb, .scroll-purple::-webkit-scrollbar-track{ background-color: #9c27b0; }
.scroll-deep-purple::-webkit-scrollbar-thumb, .scroll-deep-purple::-webkit-scrollbar-track{ background-color: #673ab7; }
.scroll-indigo::-webkit-scrollbar-thumb, .scroll-indigo::-webkit-scrollbar-track{ background-color: #3f51b5; }
.scroll-blue::-webkit-scrollbar-thumb, .scroll-blue::-webkit-scrollbar-track{ background-color: #2196f3; }
.scroll-light-blue::-webkit-scrollbar-thumb, .scroll-light-blue::-webkit-scrollbar-track{ background-color: #03a9f4; }
.scroll-cyan::-webkit-scrollbar-thumb, .scroll-cyan::-webkit-scrollbar-track{ background-color: #00bcd4; }
.scroll-teal::-webkit-scrollbar-thumb, .scroll-teal::-webkit-scrollbar-track{ background-color: #009688; }
.scroll-green::-webkit-scrollbar-thumb, .scroll-green::-webkit-scrollbar-track{	background-color: #4caf50; }
.scroll-light-green::-webkit-scrollbar-thumb, .scroll-light-green::-webkit-scrollbar-track{	background-color: #8bc34a; }
.scroll-lime::-webkit-scrollbar-thumb, .scroll-lime::-webkit-scrollbar-track{	background-color: #cddc39; }
.scroll-yellow::-webkit-scrollbar-thumb, .scroll-yellow::-webkit-scrollbar-track{	background-color: #ffeb3b; }
.scroll-amber::-webkit-scrollbar-thumb, .scroll-amber::-webkit-scrollbar-track{	background-color: #ffc107; }
.scroll-orange::-webkit-scrollbar-thumb, .scroll-orange::-webkit-scrollbar-track{	background-color: #ff9800; }
.scroll-deep-orange::-webkit-scrollbar-thumb, .scroll-deep-orange::-webkit-scrollbar-track{	background-color: #B26A00; }
.scroll-brown::-webkit-scrollbar-thumb, .scroll-brown::-webkit-scrollbar-track{	background-color: #795548; }
.scroll-blue-grey::-webkit-scrollbar-thumb, .scroll-blue-grey::-webkit-scrollbar-track{	background-color: #607d8b; }
.scroll-grey::-webkit-scrollbar-thumb, .scroll-grey::-webkit-scrollbar-track{	background-color: #909090; }
.scroll-black::-webkit-scrollbar-thumb, .scroll-black::-webkit-scrollbar-track{	background-color: #000000; }
.scroll-white::-webkit-scrollbar-thumb{	background-color: #ffffff; background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .3) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .3) 75%, transparent 75%, transparent); }
.scroll-white::-webkit-scrollbar-track{ background-color: #ffffff; }
.scroll-dark::-webkit-scrollbar-thumb, .scroll-black::-webkit-scrollbar-track{	background-color: #191919; }
.scroll-success::-webkit-scrollbar-thumb, .scroll-success::-webkit-scrollbar-track{ background-color: #4caf50; }
.scroll-info::-webkit-scrollbar-thumb, .scroll-info::-webkit-scrollbar-track{ background-color: #17a2b8; }
.scroll-warning::-webkit-scrollbar-thumb, .scroll-warning::-webkit-scrollbar-track{ background-color: #ffbb33; }
.scroll-danger::-webkit-scrollbar-thumb, .scroll-danger::-webkit-scrollbar-track{ background-color: #992921; }
/* ▲ Esto solo funciona en Chrome ▲ */

.hide{ display: none!important; }
.disabled { color: #909090!important; cursor: not-allowed!important;}

.c-link {cursor: alias!important;}
.c-all-scroll {cursor: all-scroll!important;}
.c-auto {cursor: auto!important;}
.c-cell {cursor: cell!important;}
.c-context-menu {cursor: context-menu!important;}
.c-col-resize {cursor: col-resize!important;}
.c-copy {cursor: copy!important;}
.c-crosshair {cursor: crosshair!important;}
.c-default {cursor: default!important;}
.c-e-resize {cursor: e-resize!important;}
.c-ew-resize {cursor: ew-resize!important;}
.c-grab {cursor: -webkit-grab; cursor: grab!important;}
.c-grabbing {cursor: -webkit-grabbing; cursor: grabbing!important;}
.c-help {cursor: help!important;}
.c-move {cursor: move!important;}
.c-n-resize {cursor: n-resize!important;}
.c-ne-resize {cursor: ne-resize!important;}
.c-nesw-resize {cursor: nesw-resize!important;}
.c-ns-resize {cursor: ns-resize!important;}
.c-nw-resize {cursor: nw-resize!important;}
.c-nwse-resize {cursor: nwse-resize!important;}
.c-no-drop {cursor: no-drop!important;}
.c-none {cursor: none!important;}
.c-not-allowed {cursor: not-allowed!important;}
.c-pointer {cursor: pointer!important;}
.c-progress {cursor: progress!important;}
.c-row-resize {cursor: row-resize!important;}
.c-s-resize {cursor: s-resize!important;}
.c-se-resize {cursor: se-resize!important;}
.c-sw-resize {cursor: sw-resize!important;}
.c-text {cursor: text!important;}
.c-w-resize {cursor: w-resize!important;}
.c-wait {cursor: wait!important;}
.c-zoom-in {cursor: zoom-in!important;}
.c-zoom-out {cursor: zoom-out!important;}
/* 
.c-url {cursor: url("path/to/cursor.cur"),auto!important;}
*/

.rounded-circle-top{border-radius: 50% 50% 0 0;}
.border-y, .border-y:hover{border-top: 1px solid!important;border-bottom: 1px solid!important;}
.border-t, .border-t:hover{border-top: 1px solid!important;}
.rounded-top-fixed{border-top-left-radius: .25rem !important;border-top-right-radius: .25rem !important;border-bottom-left-radius: 0 !important;border-bottom-right-radius: 0 !important;}
.rounded-bottom-fixed{border-top-left-radius: 0!important;border-top-right-radius: 0!important;border-bottom-left-radius: .25rem!important;border-bottom-right-radius: .25rem!important;}
.rounded-tl{border-top-left-radius: .25rem !important;}
.rounded-tr{border-top-right-radius: .25rem !important;}
.rounded-bl{border-bottom-left-radius: .25rem!important;}
.rounded-br{border-bottom-right-radius: .25rem!important;}
.rounded-tl-fixed{border-top-left-radius: .25rem !important;border-top-right-radius: 0!important;border-bottom-left-radius: 0 !important;border-bottom-right-radius: 0 !important;}
.rounded-tr-fixed{border-top-left-radius: 0!important;border-top-right-radius: .25rem !important;border-bottom-left-radius: 0 !important;border-bottom-right-radius: 0 !important;}
.rounded-bl-fixed{border-top-left-radius: 0!important;border-top-right-radius: 0!important;border-bottom-left-radius: .25rem!important;border-bottom-right-radius: 0 !important;}
.rounded-br-fixed{border-top-left-radius: 0!important;border-top-right-radius: 0!important;border-bottom-left-radius: 0 !important;border-bottom-right-radius: .25rem!important;}

.outline-0:focus {border-color: none!important;box-shadow: none!important;}
.opacity-3{-moz-opacity: 0.3!important;opacity: 0.3!important;}
.opacity-5{-moz-opacity: 0.5!important;opacity: 0.5!important;}
.opacity-10{-moz-opacity: 1!important;opacity: 1!important;}
